* {
  box-sizing: border-box;
}

.trigger {
  width: 20vw;
  height: 5vh;
  border: none;
  border-radius: 7px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #4a4ae9;
  box-shadow: 0 2px 4px black;
}

.trigger:hover {
  cursor: pointer;
}

.trigger:focus {
  display: none;
}

.modal-content {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;

  /* border: 1px solid red; */
  position: fixed;
  width: 25vw;
  height: 25vh;
  padding-top: 1rem;

  /* position: fixed; */
  top: 25%;
  left: 35%;

  /* display: none; */
  background-color: #fff;
  z-index: 100;
}

.no {
  width: 8vw;
  height: 5vh;
  border-radius: 7px;
  font-size: 2rem;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #eb5d5d;
  box-shadow: 0 2px 4px black;
  margin-top: 2rem;
}

.no:hover {
  cursor: pointer;
}

.no:focus {
  display: none;
}

.modal-content.off {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}



/* * {
  box-sizing: border-box;
}

.btn {
  width: 20vw;
  height: 5vh;
  border: none;
  border-radius: 7px;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #4A4AE9;
  box-shadow: 0px 2px 4px black;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  display: none;
}

.main.on {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-weight: bold;
  width: 50vw;
  height: 20vh;
  background-color: red;
}

.btn.on {
  width: 10vw;
  height: 5vh;
  border: none;
  border-radius: 7px;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #EB5D5D;
  box-shadow: 0px 2px 4px black;
} */
