@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.pictures {
  position: relative;
  margin: 5rem auto;
}

.pictures.inactive {
  display: none;
}

img {
  border: 4px solid black;
  border-radius: 50px;
}

.arrows-left,
.arrows-right {
  cursor: pointer;
  position: absolute;
  top: 30%;
  color: #fff;
  transition: ease-in 0.7s;
}

.arrows-left {
  left: 20%;
}

.arrows-right {
  right: 20%;
}

.arrows-left:hover,
.arrows-right:hover {
  color: burlywood;
}

.pictures h3 {
  font-size: 1.3rem;
  position: absolute;
  top: 8%;
  left: 5%;
  margin: 0;
  color: #fff;
  opacity: 1;
}

.dots {
  display: flex;
  position: absolute;
  top: 45%;
  left: 44%;
  margin: 0.5rem;
  color: #fff;
}



/* .dots:hover {
  color: burlywood;
} */
