* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Pangolin', cursive;
  letter-spacing: 3px;
}

.not-done {
  color: #f80606;
  text-decoration: underline;
  border-bottom: 1rem;
}

.done {
  color: #1cce1f;
}

.underbar {
  border-bottom: 3px solid #000;
}

/* span.inactive {
  border: none;
} */
